@-moz-document url("chrome://devtools/content/responsive.html/index.xhtml") {
    #viewports-container {
        background-color: #222 !important;
    }

    #toolbar {
        position: fixed !important;
        bottom: 0 !important;
        right: 0 !important;
        display: flex !important;
        width: auto !important;
    }

    #viewports {margin: 0 !important}

    .resizable-viewport {
        border: 0 !important;
        box-shadow: none !important;
    }

    #device-selector,
    #rotate-button,
    #network-throttling-menu,
    #screenshot-button,
    #exit-button,
    #toolbar .devtools-separator {
        display: none !important;
    }
}




@-moz-document regexp("https://app\\.zeplin\\.io.*/screen.*") {
    .widgets .versionsToggle,
    #addNoteButton,
    #toggleNotes,
    #versionsTutorialCircle,
    header,
    .sidebar .resizer,
    .screenSidebar .sidebarView.scrollable,
    .snippet .lineno,
    .snippet .language-css .lineWrapper:first-of-type,
    .snippet .language-css .lineWrapper:last-of-type,
    .codePanel .gutter,
    .supportButton {
        display: none !important
    }

    main {height: 100vh !important}

    #screenContainer {margin: 0 !important}
    #screenImage {outline: none !important}
    .widgets {justify-content: flex-end !important}

    #dotgrid {
        padding: 0 !important;
        width: auto !important;
        height: auto !important;
        background-image: none !important;
        background-color: #222;
    }

    .sidebar.screenSidebar {
        width: auto !important;
        min-width: auto !important;
        max-width: 210px !important;
    }

    .snippet .language-css .line {
        text-indent: inherit !important;
        padding: inherit !important;
    }
}



@-moz-document regexp("https://mail\\.protonmail\\.com/.*") {
    #conversationHeader,
    .unsubscribePanel-container,
    .navigationItem-container[data-key="allmail"],
    .countElementsSelected-container,
    .storageProgress-container .link,
    .appVersion-container,
    #pm_latest {
        display: none !important
    }
}
