@-moz-document url-prefix(chrome://browser/content/browser) {
    #TabsToolbar .tab-close-button,
    #page-action-buttons,
    .urlbar-history-dropmarker {
        display: none !important;
    }
}


@-moz-document url(about:devtools-toolbox) {
    #toolbox-tab-jsdebugger {
        display: none !important;
    }
}


@-moz-document url-prefix(chrome://devtools/content/inspector) {
    #inspector-breadcrumbs-toolbar,
    #inspector-element-add-button {
        display: none !important;
    }

    #inspector-splitter-box .uncontrolled {overflow: hidden !important}
}


@-moz-document url-prefix(chrome://devtools/content/webconsole) {
    .jsterm-input-container {
        flex-grow: 0 !important;
        margin-top: auto !important;
    }
}
